body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.chart-wrapper {
    flex: 1; /* Take up the remaining space below the header */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack chart and pagination vertically */
    width: 100%; /* Ensure the wrapper spans the full width */
}

.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
    display: flex;
    justify-content: center; /* Center the chart horizontally */
    align-items: center; /* Center the chart vertically */
}

#pagination-controls {
    margin-top: 20px;
    text-align: center;
}

.order-by-icon i {
    font-size: 0.6rem; /* Adjust the size of the icons */
}

/* Ensure table cells wrap text and enable scrolling for overflow */
table td:not(:first-child), table th:not(:first-child) {
    word-wrap: break-word;
    word-break: break-word;
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    max-width: 200px; /* Set a maximum width for the cells */
}

table td:not(:first-child):hover {
    overflow: auto; /* Enable scrolling on hover */
    white-space: normal; /* Allow wrapping when scrolling */
}

.alert {
    max-width: 100%; /* Ensure the alert box does not exceed the container width */
    word-wrap: break-word; /* Break long words to wrap within the container */
    word-break: break-word; /* Ensure proper word breaking */
    white-space: normal; /* Allow text to wrap normally */
}